
        <div class="main">
            <div class="container">
                <h1>Hola, probando mi app con ruby on rails</h1>
                <p>Primera prueba</p>
            </div>
        </div>
