<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="main">
        <div class="container">
            <h1>Hola, probando mi app con ruby on rails</h1>
            <p>Primera prueba</p>
        </div>
    </div>

  </body>
</html>
